@using EasyLife
<footer class="main-footer">
    <strong>Copyright &copy; @DateTime.Now.Year <a href="javascript:void(0);">EasyLife</a>.</strong> All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Last updated on </b> [@AppVersionHelper.ReleaseDate.ToString("dd MMMM yyyy")] <b>@L("Version")</b> @AppVersionHelper.Version

    <u>Server Time: @DateTime.Now</u>
    <i>UTC Local Time:  @DateTime.UtcNow.ToLocalTime();</i>
    </div>
</footer>
