@using Abp.Authorization.Users
@model EasyLife.Web.Models.Account.ForgotPasswordViewModel
@{ ViewBag.Title = L("ForgotPassword"); }
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Account/ForgotPassword.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Account/ForgotPassword.min.js" asp-append-version="true"></script>
    </environment>
}
<h4 class="text-center font-family" style="color: #202124;">@L("ForgotPassword")</h4>
<form id="ForgotPasswordForm" asp-action="ForgotPassword" method="post">
    <div class="input-group mb-3 mt-5">
        <input type="text" name="EmailAddress" class="form-control" placeholder="@L("EmailAddress")" required autofocus maxlength="@AbpUserBase.MaxEmailAddressLength">
        <div class="input-group-append">
            <div class="input-group-text">
                <!--<span class="fas fa-user"></span>-->
                <img src="~/img/mailsymbol.png" alt="" style="width:80%;" /></span>
            </div>
        </div>
    </div>

    <div class="row font-family">
        <div class="col-12">
            <button type="button" id="ForgotPasswordButton" class="btn btn-primary btn-block"> @L("Submit")<span style="float:right;"><img src="~/img/rightarrow.png" alt="" style="width:80%;" /></span></button>
        </div>
    </div>
    <div class="row font-family ">
        <div class="col-12">
            <div class="icheck-primary">
                <a href="/Account/Login">
                    <!--<a href="/Account/Login" class="btn btn-light-primary font-weight-bolder">-->
                        <!--<i class="fa fa-arrow-left"></i> @L("Back")-->
                        <button type="button" class="btn btn-light btn-block backbutton"><span style="float:left;"><img src="~/img/leftarrow.png" alt="" style="width:80%;" /></span> @L("Back")</button>
                    </a>
</div>
        </div>
    </div>



    @*<div class="row">
            <div class="col-12">
                <div class="icheck-primary">
                    <a href="/Account/Login" class="btn btn-light-primary font-weight-bolder">
                        <i class="fa fa-arrow-left"></i> @L("Back")
                    </a>
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-12">
                <button type="button" id="ForgotPasswordButton" class="btn btn-primary btn-block"><i class="fa fa-check"></i> @L("Submit")</button>
            </div>
        </div>*@
</form>